* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat';
	width: 100%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.btn {
	padding: 23px 46px;
	background-color: #10c9c3;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	margin-top: 15px;
}
.btn-left {
	float: left;
}
.txt-center {
	text-align: center;
}
.mb0 {
	margin-bottom: 0!important;
}
h3.txt-title {
	color: #252525;
	font-size: 40px;
	margin-bottom: 40px;
}
p.txt-desc {
	margin-bottom: 40px;
	color: #8e8e8e;
	font-size: 21px;
}
.top {
	background-image: url(../image/macbook_apple_cup_coffee_110891_1920x1080.jpg);
	padding: 0 98px;
	background-repeat: no-repeat;
	background-size: cover;
}
.top .header {
	display: flex;
	justify-content: space-between;
}
.top .header .logo-area {
	padding: 38px 0;
	float: left;
}
.top .header .nav-area {
	padding: 43px 0;
	float: right;
}
.top .header .nav-area ul li {
	display: inline;
	margin-left: 30px;
	list-style: none;
}
.top .header .nav-area ul li a {
	text-decoration: none;
	font-size: 16px;
	color: #191919;
	font-weight: bold;
}
.top .header .nav-area ul li a.active {
	color: #10c9c3;
}
.top .banner {
	height: 580px;
}
.top .banner .banner-content {
	float: right;
	padding: 140px 27px 0 27px;
	width: 480px;
}
.top .banner .banner-content h2.banner-title {
	color: #1d1d1d;
	font-size: 38px;
	font-weight: bold;
	float: left;
	margin-bottom: 40px;
}
.top .banner .banner-content p.banner-desc {
	color: #8a8a8a;
	font-size: 18px;
	float: left;
	margin-bottom: 40px;
	font-weight: bold;
}
.about {
	background-color: #ffffff;
	padding: 100px 98px;
}
.about img {
	display: block;
	margin: 0 auto;
}
.skill {
	display: flex;
}
.skill .skill-area {
	width: 50%;
	background-color: #f8f9f9;
}
.skill .skill-container {
	padding: 164px 98px;
}
.skill .skill-area .skill-box {
	width: 100%;
	margin-bottom: 40px;
}
.skill .skill-area .skill-box p.skill-title {
	font-weight: bold;
	margin-bottom: 20px;
}
.skill .skill-area .skill-box .skill-value {
	margin-left: 18px;
}
.skill .skill-area .skill-box .skill-bar {
	width: 100%;
	height: 4px;
	background-color: #d8d8d8;
}
.skill .skill-area .skill-box .skill-bar .skill-bar-value {
	height: 4px;
	background-color: #10c9c3;
}
.skill .skill-area .skill-box .skill-bar .bar-animate {
	animation-duration: 2s;
	animation-timing-function: ease;
}
.skill .skill-area .skill-box .skill-bar .ui-ux {
	width: 75%;
	animation-name: ui-ux;
}
@keyframes ui-ux {
  from {width: 0%;}
  to {width: 75%;}
}
.skill .skill-area .skill-box .skill-bar .web-development {
	width: 90%;
	animation-name: web-development;
}
@keyframes web-development {
  from {width: 0%;}
  to {width: 90%;}
}
.skill .skill-area .skill-box .skill-bar .marketing {
	width: 65%;
	animation-name: marketing;
}
@keyframes marketing {
  from {width: 0%;}
  to {width: 65%;}
}
.skill .profil-area {
	width: 50%;
	background-color: #e9e9e9;
}
.skill .profil-area img {
	display: block;
	margin: 0 auto;
}
.work {
	background-color: #10c9c3;
	padding: 100px 98px;
}
.work .work-area {
	display: flex;
}
.work .work-area .work-item {
	display: flex;
	width: 25%;
	align-items: center;
}
.work .work-area .work-item img {
	margin-right: 30px;
}
.work .work-area .work-item .work-detail {
	display: flex;
	flex-direction: column;
}
.work .work-area .work-item .work-detail p.detail-number {
	font-size: 24px;
	color: #ffffff;
	margin-bottom: 16px;
	font-weight: bold;
}
.work .work-area .work-item .work-detail p.detail-desc {
	font-size: 16px;
	color: #ffffff;
}
.work-image {
	padding: 0!important;
}
.work-image .image-container {
	display: flex;
	flex-wrap: wrap;
}
.work-image .image-container .image-box {
	width: 25%;
	position: relative;
}
.work-image .image-container .image-box .image-work {
	width: 100%;
	height: 100%;
}
.work-image .image-container .image-box .image-hover {
	width: 100%;
	height: 100%;
	background-color: #252525;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
.work-image .image-container .image-box:hover .image-hover {
	opacity: 0.7;
}
.work-image .load-more-button {
	padding: 46px 0;
	display: flex;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	background-color: #f5f5f5;
	color: #8e8e8e;
	font-weight: bold;
}
.process {
	background-color: #ffffff;
	padding: 100px 98px;
}
.process .process-area {
	position: relative;
	width: 100%;
	height: 100%;
}
.process .process-area .image-video {
	width: 100%;
	height: 100%;
}
.process .process-area .image-pause {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
.process .process-area:hover .image-pause {
	opacity: 1;
}
.services {
	background-color: #f5f5f5;
	padding: 100px 98px;
}
.services .services-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.services .services-area .services-box-item {
	width: 24%;
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.services .services-area .services-box-item .services-icon {
	margin-bottom: 30px;
}
.services .services-area .services-box-item .services-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
.services .services-area .services-box-item .services-desc {
	font-size: 21px;
}
.services .services-area .services-box-item .box-item {
	width: 100%;
	padding: 0 
}
.testimony {
	background-color: #10c9c3;
	padding: 177px 98px 60px 98px;
}
.testimony .testimony-area {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.testimony .testimony-area .testimony-box {
	width: 100%;
	margin-bottom: 106px;
}
.testimony .testimony-area .testimony-box .testimony-word {
	font-size: 32px;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 40px;
}
.testimony .testimony-area .testimony-box .testimony-by {
	font-size: 16px;
	color: #ffffff;
}
.testimony .testimony-area .dot-box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.testimony .testimony-area .dot-box .dot {
	width: 10px;
	height: 10px;
	background-color: #b0e8e6;
	border-radius: 50%;
	margin: 0 8px;
}
.testimony .testimony-area .dot-box .active {
	width: 15px;
	height: 15px;
	background-color: #ffffff;
}
.clients {
	background-color: #ffffff;
	padding: 68px 136px;
}
.clients .clients-area {
	display: flex;
	justify-content: space-between;
}
.message {
	background-color: #f5f5f5;
	padding: 100px 98px;
}
.message .message-area {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.message .message-area .form-box {
	width: 672px;
}
.message .message-area .form-box form {
	width: 100%;
}
.message .message-area .form-box input[type=text], textarea {
	font-family: 'Montserrat';
    font-size: 16px;
    border: none;
    padding: 18px 20px;
    width: 100%;
}
.message .message-area .form-box input.inline-input {
    width: 280px;
}
.message .message-area .form-box .form-row textarea {
	resize: none;
	height: 140px;
}
.message .message-area .form-box .form-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.footer {
	background-color: #141414;
	padding: 100px 98px;
}
.footer .footer-area {
	display: flex;
}
.footer .footer-area ul li {
	list-style: none;
	margin-left: 56px;
	margin-bottom: 13px;
}
.footer .footer-area ul li a {
	color: #767676;
	text-decoration: none;
}
.footer .footer-area .footer-profil h3 {
	color: #ffffff;
	margin-bottom: 31px;
}
.footer .footer-area .footer-profil p {
	color: #767676;
}
.footer .footer-area .footer-profil {
	flex-grow: 4;
}
.footer .footer-area .footer-url {
	flex-grow: 3;
	color: #767676;
	display: flex;
}
.footer .footer-area .footer-email {
	flex-grow: 2;
	color: #767676;
}
.footer .footer-area .footer-social-media {
	flex-grow: 1;
	color: #767676;
}