* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.fullWidth {
	width: 100%;
}
.container {
	padding: 0 100px;
	width: 1166px;
}
.header {
	position: absolute;
	z-index: 1;
}
.headerArea {
	margin: 0 auto;
	padding-top: 38px;
	padding-bottom: 38px;
	background-color: #8e8e8e;
	height: 25px;
}
.headerArea .logoArea {
	float: left;
}
.headerArea .navbarArea {
	float: right;
}
.headerArea .navbarArea ul li {
	display: inline-block;
	margin: 0 15px;
}
.headerArea .navbarArea ul li a {
	text-decoration: none;
	color: #333333;
	font-size: 16px;
	font-weight: bold;
}
.headerArea .navbarArea ul li a.active {
	color: #10c9c3;
}
.banner {
	background-image: url(../image/banner.jpg);
	background-size: cover;
	height: 670px;
	position: relative;
}
.bg-overlay {
    background-color: rgba(36, 42, 53, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
}
.bannerArea {
	margin: 0 auto;
}
.bannerText {
	position: absolute;
	z-index: 2;
	right: 265px;
	bottom: 175px;
}
.bannerText h2 {
	font-size: 51px;
	font-weight: bold;
	margin-bottom: 40px;
}
.bannerText p {
	font-size: 24px;
	color: #787878;
	margin-bottom: 55px;
}
.btn {
	background-color: #10c9c3;
	color: #ffffff;
	padding: 23px 46px;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	float: left;
	margin: 15px 0;
}
.bgWhite {
	background-color: #ffffff;
}
.bgGray {
	background-color: #f5f5f5;
}
.bgGreen {
	background-color: #10c9c3;	
}
.bgBlack {
	background-color: #141414;
}
.aboutArea {
	margin: 0 auto;
	height: 220px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.textTitle {
	font-size: 40px;
	font-weight: bold;
	color: #191919;
	margin-bottom: 40px;
}
.textCenter {
	text-align: center;
}
.textSignature {
	font-size: 21px;
}
.signature {
	margin: 40px auto 0;
}
.skillsArea {
	margin: 0 auto;
	height: 570px;
}
.skillsArea .left {
	float: left;
	width: 583px;
}
.barArea {
	padding-top: 164px;
	padding-bottom: 164px;
	height: 242px;
}
.skillsArea .right {
	float: right;
	width: 583px;
}
.progressBar {
	width: 500px;
	margin-top: 40px;
	float: left;
}
.barTitle {
	margin-bottom: 20px;
}
.barTitle p {
	font-size: 16px;
	font-weight: bold;
}
.barTitle p .value {
	margin-left: 19px;
}
.containerBar {
  width: 100%;
  height: 3px;
  background-color: #d8d8d8;
}
.uiuxdesigner {
	background-color: #10c9c3;
	width: 75%;
	height: 3px;
}
.webdevelopment {
	background-color: #10c9c3;
	width: 90%;
	height: 3px;
}
.marketing {
	background-color: #10c9c3;
	width: 65%;
	height: 3px;
}
.reportArea {
	height: 240px;
	margin: 0 auto;
}
.reportContent {
	padding-top: 100px;
	padding-bottom: 100px;
}
.countContainer {
	width: calc(100% / 4) - 64px;
	float: left;
	height: 60px;
	margin-right: 64px;
}
.iconCount {
	float: left;
	margin-right: 28px;
	padding: 8px 0;
}
.textCount {
	float: left;
	color: #ffffff;
}
.valueCount {
	font-size: 24px;
	margin-bottom: 12px;
}
.descCount {
	font-size: 16px;
}
.productArea {
	height: 600px;
	margin: 0 auto;
}
.productContainer {
	width: calc(100% / 4);
	height: 300px;
	float: left;
	margin-bottom: 0!important;
	position: relative;.
	z-index: 2;
}
.productContainer img {
	width: 100%;
	height: 100%;
}
.productContainer .productHover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #252525;
	z-index: 3;
	opacity: 0;
	margin: auto;
}
.productContainer .productHover img {
	width: 48px;
	height: auto;
	display: block;
    margin: 45% auto;
}
.productContainer:hover .productHover {
	opacity: 0.8;
}
.loadMore {
	height: 55px;
	margin: auto;
	text-align: center;
	padding-top: 45px;
}
.loadMore a {
	text-decoration: none;
	color: #9c9c9c;
	font-size: 16px;
}
.processArea {
	height: 730px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
}
.processArea .descProcess {
	font-size: 21px;
	color: #787878;
	margin-bottom: 58px;
}
.processArea .videoArea {
	width: 100%;
	height: 525px;
	position: relative;
	z-index: 5;
}
.processArea .videoArea img {
	width: 100%;
	height: 525px;
}
.processArea .videoArea .videoHover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	opacity: 0;
}
.processArea .videoArea:hover .videoHover {
	opacity: 1;
}
.processArea .videoArea .videoHover img {
	width: 119px;
	height: auto;
	margin: 18% auto;
	display: block;
}
.servicessArea {
	height: 410px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
}
.containerServicess {
	width: 235px;
    float: left;
    margin-right: 35px;
    padding: 0 15px;
    margin-bottom: 60px;
}
.lastcontainerServicess {
	margin-right: 0!important;
}
.containerServicess .iconServicess img {
	display: block;
	margin: 0 auto 30px;
}
.containerServicess .textServicess .titleServicess {
	color: #191919;
	font-weight: bold;
	margin-bottom: 18px;
}
.containerServicess .textServicess .descServicess {
	color: #898989;
	font-size: 16px;
}
.reviewWord {
	height: 263px;
	padding-top: 177px;
	padding-bottom: 60px;
	margin: auto;
}
.quoteWord {
	color: #ffffff;
	font-size: 32px;
	margin-bottom: 40px;
}
.quoteName {
	color: #ffffff;
	font-size: 16px;
}
.clientArea {
	height: 66px;
	margin: auto;
	padding-top: 67px;
	padding-bottom: 67px;
}
.clientlogoArea {
	float: left;
	width: 127px;
	padding: 0 30px;
	margin-right: 57px;
}
.clientlogoArea img {
	margin: auto;
	float: left;
}
.mr0 {
	margin-right: 0!important;
}
.messageArea {
	height: 635px;
	margin: auto;
	padding-bottom: 100px;
	padding-top: 100px;
}
.formTitle {
	padding-left: 65px;
	padding-right: 65px;
	width: 542px;
	margin: auto;
}
.formTitle .formText {
	font-size: 16px;
	color: #8c8c8c;
	margin-bottom: 25px;
}
.formArea {
	width: 672px;
	margin: auto;
}
.formArea form {
	width: 100%;
}
.formArea input {
	width: 628px;
	float: left;
	height: 12px;
	padding: 18px 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.formArea textarea {
	width: 628px;
	float: left;
	height: 134px;
	padding: 18px 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	resize: none;
}
.formArea .inlineForm {
	width: 100%;
	display: flex;
}
.inlineForm input {
	width: 280px;
	float: left;
	height: 12px;
	padding: 18px 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.inlineForm input#name {
	margin-right: 30px;
}
.formbutton {
	margin: auto;
    float: left;
    width: 221px;
    padding-left: 33%;
    padding-right: 33%;
}
.footerArea {
	padding-top: 100px;
	padding-bottom: 100px;
	height: 87px;
	margin: auto;
	color: #808080;
}
.profilArea	{
	float: left;
	margin-right: 246px;
	width: 233px;
}
.profilArea	.profilName {
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 26px;
}
.contactArea {
	float: left;
	margin-right: 145px;
}
.socialmediaList {
	float: left;
	margin-left: 79px;
}
.linkList {
	float: left;
	margin-right: 55px;
	width: 57px;
}
.footerArea ul li {
	list-style-type: none;
	margin-bottom: 10px;
}
.footerArea a {
	text-decoration: none;
	color: #808080;
}