* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}
#loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-top: 150px;
}
#loader .loader {
	width: 120px;
	height: 120px;
	border: 15px solid #2e324c;
	border-top: 16px solid #e84545;
	border-radius: 50%;
	animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#content {
	display: none;
}
.btn {
	padding: 20px 54px;
	color: #ffffff;
	font-size: 17.3px;
	font-weight: bold;
	text-decoration: none;
	background-color: #e84545;
	border-radius: 5px;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}
.txt-white {
	color: #ffffff;
}
.txt-center {
	text-align: center;
}
.header, .main-banner, .advantages, .teams, .download, .footer, .copyright {
	padding: 0 200px;
}
.header {
	background-color: #2e324c;
}
.header .header-content {
	display: flex;
	justify-content: space-between;
}
.header .header-content .logo-area {
	padding: 38px 0;
}
.header .header-content .navbar-area {
	padding: 45px 0;
}
.header .header-content .navbar-area ul.navbar li {
	display: inline;
	margin-left: 33px;
}
.header .header-content .navbar-area .navbar a {
	color: #ffffff;
	text-decoration: none;
	font-size: 17.3px;
}
.main-banner {
	background-image: url(../image/bg-main.jpg);
}
.main-banner .banner-content {
	padding: 156px 0;
	width: 970px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.main-banner .banner-content h2.banner-title {
	font-size: 79px;
	text-align: center;
	margin-bottom: 42px;
}
.main-banner .banner-content p.banner-text {
	font-size: 32px;
	text-align: center;
	margin-bottom: 78px;
}
.advantages {
	background-color: #ffffff;
}
.advantages .advantages-area {
	padding: 120px 0 48px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.advantages .advantages-area .advantages-box {
	width: 30%;
	margin-bottom: 76px;
	/*padding: 0 5px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}
.advantages .advantages-area .advantages-box img.advantages-image {
	height: 60px;
	height: auto;
	margin-bottom: 34px;
}
.advantages .advantages-area .advantages-box p.advantages-title {
	color: #2d3033;
	font-weight: bold;
	font-size: 18.6px;
	margin-bottom: 25px;
}
.advantages .advantages-area .advantages-box p.advantages-text {
	color: #6c7279;
	font-size: 13px;
	text-align: center;
}
.works .works-area {
	display: flex;
	flex-wrap: wrap;
}
.works .works-area .works-image {
	width: 25%;
	height: 360px;
	position: relative;
	/*border: solid 1px #ffffff;*/
}
.works .works-area .works-image img {
	width: 100%;
	height: 100%;
	/*border: solid 1px #ffffff;*/
}
.works .works-area .works-image .works-detail {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ff0200;
	opacity: 0;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}
.works .works-area .works-image:hover .works-detail {
	opacity: 0.7;
}
.teams {
	background-color: #ffffff;
}
.teams .teams-area {
	display: flex;
	padding-top: 100px;
	padding-bottom: 100px;
}
.teams .teams-area .teams-box {
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
}
.teams .teams-area .teams-box img.teams-image {
	width: 100%;
	margin-bottom: 30px;
}
.teams .teams-area .teams-box p.teams-name {
	font-size: 29.3333px;
	color: #57595c;
	margin-bottom: 16px;
}
.teams .teams-area .teams-box p.teams-position {
	color: #e84545;
	font-size: 17.3333px;
	margin-bottom: 30px;
}
.teams .teams-area .teams-box p.teams-desc {
	font-size: 18.6667px;
	color: #80858b;
	margin-bottom: 30px;
}
.teams .teams-area .teams-box ul.teams-account li {
	display: inline;
	list-style-type: none;
	float: left;
	margin-right: 8px;
}
.teams .teams-area .teams-box .teams-account a.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 1px #c6cacc;
	width: 40px;
	height: 40px;
}
.testimonials {
	background-color: #53354a;
	display: flex;
}
.testimonials .testimonials-image, .testimonials .testimonials-text {
	width: 50%;
}
.testimonials .testimonials-image img {
	width: 100%;
	height: 100%;
}
.testimonials .testimonials-text {
	padding-top: 114px;
	padding-bottom: 105px;
}
.testimonials .testimonials-text .testimonials-box {
	margin-left: 84px;
	width: 501px;
	color: #ffffff;
}
.testimonials .testimonials-text .testimonials-box .testimonials-word {
	font-style: italic;
	font-size: 36px;
	margin-bottom: 44px;
}
.testimonials .testimonials-text .testimonials-box .testimonials-name {
	font-size: 18px;
}
.download {
	background-color: #ffffff;
}
.download .download-area {
	padding-top: 100px;
	padding-bottom: 100px;
}
.download .download-area .download-box {
	display: flex;
	flex-direction: column;
	/*width: 631px;*/
	margin: 0 auto;
	align-items: center;
}
.download .download-area .download-box p.download-title {
	margin-bottom: 22px;
	font-size: 28px;
}
.download .download-area .download-box p.download-desc {
	margin-bottom: 40px;
	font-size: 17px;
	font-weight: bold;
}
.footer {
	background-color: #3a3e64;
}
.footer .footer-area {
	padding-top: 70px;
	padding-bottom: 87px;
	display: flex;
	justify-content: space-between;
}
.footer .footer-area div {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.footer .footer-area div .footer-title {
	font-weight: bold;
	margin-bottom: 24px;
}
.footer .footer-area div .footer-desc {
	font-size: 20px;
	text-align: center;
	color: #9d9fb2;
}
.footer .footer-area .footer-location, .footer .footer-area .footer-share {
	width: 33%
}
.footer .footer-area .footer-about {
	width: 34%
}
.footer .footer-area .footer-share ul.share li {
	display: inline;
	list-style-type: none;
	float: left;
	margin-right: 10px;
}
.footer .footer-area .footer-share ul.share li a.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 2px #ffffff;
	width: 40px;
	height: 40px;
}
.copyright {
	background-color: #313454;
}
.copyright .copyright-area {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
}
.copyright .copyright-area p.copyright-desc {
	font-size: 20px;
	color: #808080;
}