* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Open Sans;
}
button {
	background-color: #2e324c;
	border: none;
}
i {
	color: #ffffff;
}
a.icon {
	padding: 8px;
	border: 2px solid #ffffff;
	border-radius: 5px;
}
#loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-top: 150px;
}
#loader .loader {
	width: 120px;
	height: 120px;
	border: 15px solid #2e324c;
	border-top: 16px solid #e84545;
	border-radius: 50%;
	animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#content {
	display: block;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.txt-white {
	color: #ffffff;
}
.txt-center {
	text-align: center;
}
.txt-bold {
	font-weight: bold;
}
.btn {
    padding: 20px 54px;
    color: #ffffff;
    font-size: 1.08125em;
    font-weight: bold;
    text-decoration: none;
    background-color: #e84545;
    border-radius: 5px;
}
.container {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 20px;
}
.row {
	margin-right: -15px;
    margin-left: -15px;
}
.header {
	background-color: #2e324c;
}
.header .header-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1.5px #fff;
}
.header .header-area .nav-area ul.nav li a {
	padding-bottom: 1px;
	text-decoration: none;
}
.header .header-area .nav-area ul.nav li a:hover {
	border-bottom: solid 1px #ffffff;
}
.banner {
	background-image: url(../image/bg-main.jpg);
	background-size: cover;
}
.banner .banner-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.feature {
	background-color: ##ffffff;
}
.feature .feature-area {
	padding: 120px 0 48px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feature .feature-area .feature-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.work .work-area {
	display: flex;
}
.work .work-area .work-image-box {
	position: relative;
	height: 270px;
	border: solid 0.8px #fff;
}
.work .work-area .work-image-box img.img-work {
	width: 100%;
	height: 100%;
}
.work .work-area .work-image-box .work-image-hover {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0200;
    opacity: 0;
    color: #ffffff;
    font-size: 1.125em;
    font-weight: bold;
}
.work .work-area .work-image-box:hover .work-image-hover {
    opacity: 0.7;
}
.team {
	background-color: #ffffff;
}
.team .team-area {
	display: flex;
}
.team .team-area .team-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.team .team-area .team-box ul.team-account {
	display: flex;
}
.team .team-area .team-box ul.team-account li {
	display: inline;
	list-style-type: none;
	margin-right: 10px;
}
.team .team-area .team-box ul.team-account li:nth-last-child(1) {
	margin-right: 0;
}
.team .team-area .team-box ul.team-account li a.social-media {
	display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #c6cacc;
}
.testimonial {
	background-color: #53354a;
}
.testimonial .testimonial-area {
	display: flex;
}
.testimonial .testimonial-area .testimonial-text p.testimonial-word {
	font-family: 'Cardo', serif;
}
.download {
	background-color: #ffffff;
}
.download .download-area .download-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.download .download-area .download-box p.download-title {
	margin-bottom: 22px;
}
.download .download-area .download-box p.download-desc {
	margin-bottom: 40px;
    font-size: 1.0625em;
    font-weight: bold;
}
.footer {
	background-color: #3a3e64;
}
.footer .footer-area .footer-box {
	display: flex;
}
.footer .footer-area .footer-box .footer-location, .footer .footer-area .footer-box .footer-social, .footer .footer-area .footer-box .footer-about {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer .footer-area .footer-box p.footer-title {
	font-weight: bold;
    margin-bottom: 24px;
}
.footer .footer-area .footer-box p.footer-desc {
	font-size: 1.25em;
    text-align: center;
    color: #9d9fb2;
}
.footer .footer-area .footer-box ul.share li {
	display: inline;
    list-style-type: none;
    float: left;
    margin-right: 10px;
}
.footer .footer-area .footer-box ul.share li a.social-media {
	display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #ffffff;
    width: 55px;
    height: 55px;
}
.copyright {
    background-color: #313454;
}
.copyright .copyright-area .copyright-box p.copyright-text {
	font-size: 1.25em;
    color: #808080;
}
@media screen and (min-width: 320px) {
	p {
		font-size: 1em;
	}
	.container {
		padding: 0 50px;
	}
	.row {
		margin-right: -10px;
	    margin-left: -10px;
	}
	.btn {
	    padding: 20px 45px;
	    font-size: 0.75em;
	}
	a.icon {
		display: block;
	}
	.header .header-area {
		padding: 20px 0;
	}
	.header .header-area .logo-area img {
		width: 120px;
		height: auto;
	}
	.header .header-area .nav-area img.nav-menu {
		width: 25px;
		height: auto;
	}
	.header .header-area .nav-area ul.nav {
		display: none;
		position: absolute;
		top: 82px;
		left: 0;
		width: 100%;
	}
	.header .header-area .nav-area ul.nav li {
		list-style-type: none;
		background-color: #2e324c;
		opacity: 0.9;
		display: block;
		padding: 10px 2px 10px 20px;
		width: 100%;
	}
	.banner .banner-area {
		padding: 100px 0;
	}
	.banner .banner-area .txt-banner {
		margin-bottom: 40px;
	}
	.feature .feature-area {
		padding: 30px 0 20px 0;
	    display: flex;
	    justify-content: space-between;
	    flex-wrap: wrap;
	}
	.feature .feature-area .feature-box {
		width: 100%;
	    padding-left: 10px;
	    padding-right: 10px;
	    margin-bottom: 35px;
	}
	.feature .feature-area .feature-box img.img-feature {
		width: 20%;
		height: auto;
		margin-bottom: 20px;
	}
	.feature .feature-area .feature-box p.txt-feature {
		margin-bottom: 20px;
	}
	.work .work-area {
		flex-direction: column;
	}
	.work .work-area .work-image-box {
		width: 100%;
	}
	.team .team-area {
		flex-direction: column;
		padding: 50px 0;
	}
	.team .team-area .team-box {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 30px;
	}
	.team .team-area .team-box img.img-team {
		width: 100%;
		height: auto;
		margin: 0 auto 25px auto;
	}
	.team .team-area .team-box p.team-name {
		font-size: 1.4em;
	    color: #57595c;
	    margin-bottom: 10px;
	}
	.team .team-area .team-box p.team-position {
		color: #e84545;
	    font-size: 1.2em;
	    margin-bottom: 20px;
	}
	.team .team-area .team-box p.team-desc {
	    font-size: 1em;
	    text-align: justify;
	    margin-bottom: 20px;
	}
	.team .team-area .team-box ul.team-account {
		justify-content: center;
	}
	.team .team-area .team-box ul.team-account li a.social-media {
		width: 45px;
		height: 45px;
	}
	.testimonial .testimonial-area {
		flex-direction: column;
	}
	.testimonial .testimonial-area .testimonial-image, .testimonial .testimonial-area .testimonial-text {
		width: 100%;
		height: auto;
	}
	.testimonial .testimonial-area .testimonial-image img {
		width: 100%;
		height: 100%;
		display: block;
	}
	.testimonial .testimonial-area .testimonial-text {
		padding: 100px 50px
	}
	.testimonial .testimonial-area .testimonial-text .testimonial-word {
		font-size: 2em;
		margin-bottom: 30px;
	}
	.download .download-area {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.download .download-area .download-box p.download-title {
		font-size: 2.25em;
	}
	.download .download-area .download-box p.download-desc {
		font-size: 1.0625em;
	}
	.footer .footer-area {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.footer .footer-area .footer-box {
		flex-direction: column;
	}
	.footer .footer-area .footer-box .footer-location, .footer .footer-area .footer-box .footer-social {
		margin-bottom: 30px;
	}
	.copyright .copyright-area {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
@media screen and (min-width: 768px) {
	p {
	    font-size: 1.25em;
	}
	.btn {
	    padding: 20px 60px;
	    font-size: 1em;
	}
	.container {
	    padding: 0 80px;
	}
	.feature .feature-area .feature-box {
		width: 50%;
	    padding-left: 15px;
	    padding-right: 15px;
	    margin-bottom: 35px;
	}
	.feature .feature-area .feature-box img.img-feature {
	    width: auto;
	    height: 60px;
	    margin-bottom: 20px;
	}
	.work .work-area {
	    flex-direction: row;
	    flex-wrap: wrap;
	}
	.work .work-area .work-image-box {
	    width: 50%;
	}
	.team .team-area {
	    flex-direction: row;
	    padding: 50px 0;
	    flex-wrap: wrap;
	}
	.team .team-area .team-box {
	    width: 50%;
	    padding-left: 15px;
	    padding-right: 15px;
	    padding-bottom: 30px;
	}
	.team .team-area .team-box ul.team-account {
		justify-content: flex-start;
	}
	.testimonial .testimonial-area .testimonial-text {
		padding: 100px 80px;
	}
	.footer .footer-area .footer-box {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer .footer-area .footer-box .footer-location, .footer .footer-area .footer-box .footer-social, .footer .footer-area .footer-box .footer-about {
		width: 50%;
	}
	.footer .footer-area .footer-box .footer-location, .footer .footer-area .footer-box .footer-social {
		margin-bottom: 60px;
	}
}
@media screen and (min-width: 1080px) {
	p {
		font-size: 1em;
	}
	.container {
	    margin: 0 auto;
	    max-width: 1500px;
	    padding: 0 20px;
	}
	a.icon {
		display: none;
	}
	.row {
		margin-left: -15px;
		margin-right: -15px;
	}
	.header .header-area {
	    padding: 30px 0;
	}
	.header .header-area .logo-area img {
		width: auto;
		height: auto;
	}
	.header .header-area .nav-area img.nav-menu {
		display: none;
	}
	.header .header-area .nav-area ul.nav {
		display: block!important;
		position: relative;
		top: 0;
	}
	.header .header-area .nav-area ul.nav li {
		list-style-type: none;
		display: inline;
		margin-left: 33px;
		list-style-type: none;
	    opacity: 0.9;
	    padding: 0;
	    width: auto;
	    float: left;
	}
	.header .header-area .nav-area ul.nav li a {
		display: block;
		font-size: 1.1em;
	}
	.banner .banner-area h2.txt-banner {
	    font-size: 4.9375em;
	    margin-bottom: 42px;
	}
	.banner .banner-area p.txt-banner {
	    font-size: 2em;
	    margin-bottom: 78px;
	}
	.banner .banner-area {
		padding: 156px 0;
	}
	.feature .feature-area .feature-box {
	    width: 33%;
	    padding-left: 10px;
	    padding-right: 10px;
	    margin-bottom: 76px;
	}
	.feature .feature-area {
	    padding: 120px 0 48px 0;
	}
	.work .work-area .work-image-box {
	    width: 25%;
	}
	.team .team-area {
	    flex-direction: row;
	    padding: 100px 0;
	    flex-wrap: wrap;
	}
	.team .team-area .team-box {
	    width: 25%;
	    padding-left: 13px;
	    padding-right: 13px;
	    padding-bottom: 30px;
	}
	.team .team-area .team-box img.img-team {
	    width: 100%;
	    height: auto;
	    margin: 0 auto 25px auto;
	}
	.team .team-area .team-box ul.team-account li a.social-media {
		width: 55px;
		height: 55px;
	}
	.testimonial .testimonial-area {
		flex-direction: row;
		align-items: center;
	}
	.testimonial .testimonial-area .testimonial-image img {
		width: 100%;
		height: 100%;
	    display: block;
	}
	.testimonial .testimonial-area .testimonial-image, .testimonial .testimonial-area .testimonial-text {
	    width: 50%;
	    height: auto;
	}
	.testimonial .testimonial-area .testimonial-text {
	    padding: 0px 180px 0 26px;
	}
	.testimonial .testimonial-area .testimonial-text p {
		text-align: justify;
	}
	.testimonial .testimonial-area .testimonial-text p.testimonial-word {
	    font-style: italic;
	    font-size: 1.5em;
	    margin-bottom: 31px;
	}
	.download .download-area {
	    padding-top: 100px;
	    padding-bottom: 100px;
	}
	.footer .footer-area .footer-box .footer-location, .footer .footer-area .footer-box .footer-social, .footer .footer-area .footer-box .footer-about {
	    width: 33%;
	}
}